<Application resource-id="portainer">
  <Category>APP_CAT_PRODUCTIVITY</Category>
  <Name>Portainer</Name>
  <Author>Mhynlo</Author>
  <Version>1.15.5-ml2</Version>
  <RequireReboot>0</RequireReboot>
  <ConfigURL/>
  <LaunchURL>http://localhost:9001</LaunchURL>
  <ReservePort>9001</ReservePort>
  <DebianPackage>portainer</DebianPackage>
  <ServiceName>fvapp-portainer.service</ServiceName>
  <Description lang="en-us">Portainer is an open-source lightweight management UI which allows you to easily manager you Docker host or Swarm Cluseter</Description>
</Application>
