<Application resource-id="portainer"><!-- 'resource-id' must be AppName -->
  <Name>Portainer</Name><!-- Any desciptive name, upto 48 chars -->
  <Author>Mhynlo</Author><!-- Authers name. upto 48 chars -->
  <Version>1.13.2</Version><!-- Version -->
  <RequireReboot>0</RequireReboot><!-- If non-zero, it indicate reboot is required. -->
  <ConfigURL></ConfigURL><!-- 'localhost' will be replaced by framework JS. -->
  <LaunchURL>http://localhost:9001</LaunchURL><!-- 'localhost' will be replaced by framework JS. -->
  <ReservePort>9001</ReservePort>
  <DebianPackage>portainer</DebianPackage>
  <ServiceName>fvapp-portainer.service</ServiceName><!-- If start/stop need to start/stop service, specify service name -->
  <Description lang="en-us">Portainer is an open-source lightweight management UI which allows you to easily manager you Docker host or Swarm Cluseter</Description>
</Application>
